<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="scripty4">

  <div ng-controller="ItemsController as index">
    <ol>
      <li ng-repeat="item in index.items" ng-bind-template="{{$index}}{{item.name}}"></li>
      <li ng-bind="item.name"></li>
    </ol>

    <table>
      <tr ng-repeat="(name, value) in {b: 'two', a: 1.0, c: 3}">
        <td ng-bind="name"></td>
        <td ng-bind="value"></td>
      </tr>
    </table>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="scripty4/module.js"></script>
  <script src="scripty4/scripty4-controller.js"></script>
  <!--<script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>-->
</body>
</html>
